<!--<div class="container">-->
<!--    <div class="surface-ground">-->
<!--        <div class="flex flex-column align-items-center justify-content-center">-->
<!--            <div style="border-radius: 10px; padding: 0.3rem; background: linear-gradient(180deg, rgba(33, 150, 243, 0.4) 10%, rgba(33, 150, 243, 0) 30%);">-->
<!--                <div class="surface-card">-->
<!--                    <span class="text-blue-500 font-bold text-3xl">404</span>-->
<!--                    <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">Not Found</h1>-->
<!--                    <div class="text-600 mb-5">Requested resource is not available.</div>-->
<!--                    <a [routerLink]="['/']" class="link-item">-->
<!--                        <span class="icon-circle bg-cyan-400">-->
<!--                            <i class="text-50 pi pi-fw pi-table text-2xl"></i>-->
<!--                        </span>-->
<!--                        <span class="text-900 lg:text-xl font-medium mb-0 block">Frequently Asked Questions</span>-->
<!--                        <span class="text-600 lg:text-xl">Ultricies mi quis hendrerit dolor.</span>-->
<!--                    </a>-->
<!--                    <a [routerLink]="['/']" class="link-item">-->
<!--                        <span class="icon-circle bg-orange-400">-->
<!--                            <i class="pi pi-fw pi-question-circle text-50 text-2xl"></i>-->
<!--                        </span>-->
<!--                        <span class="text-900 lg:text-xl font-medium mb-0">Solution Center</span>-->
<!--                        <span class="text-600 lg:text-xl">Phasellus faucibus scelerisque eleifend.</span>-->
<!--                    </a>-->
<!--                    <a [routerLink]="['/']" class="link-item">-->
<!--                        <span class="icon-circle bg-indigo-400">-->
<!--                            <i class="pi pi-fw pi-unlock text-50 text-2xl"></i>-->
<!--                        </span>-->
<!--                        <span class="text-900 lg:text-xl font-medium mb-0">Permission Manager</span>-->
<!--                        <span class="text-600 lg:text-xl">Accumsan in nisl nisi scelerisque</span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<p-card style="width: 500px; height: 300px; backround-color: lightgray">
    <div class="container">
        <h1>404 - Not Found</h1>
        <p>Oops! The page you are looking for could not be found.</p>
        <p>Please check the URL and try again.</p>
        <a [routerLink]="'/admin/dashboard'">Go back Dashboard</a>
    </div>
</p-card>


