 <div>
    <div style="display: inline-flex;">
        <span class="pi pi-home" routerLink="/dashboard"></span>
    </div>
    <span class="font-medium ml-2">/ Protocollo CEM </span>
</div>

<p-toolbar styleClass="mb-4" class="col-12">
    <ng-template pTemplate="left">
        <button pButton pRipple label="AGGIUNGI NUOVO" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewData()"></button>
        <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedDatas()" [disabled]="!selectedDatas || !selectedDatas.length"></button>
    </ng-template>

    <ng-template pTemplate="center">
        <div class="search-container">
        <span class="p-input-icon-left" style="width: 400px;">
            <i class="pi pi-search" style="margin-right: 5px;"></i>
            <input style="background-color: white;" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                   placeholder="Ricerce Protocollo"
                   class="search-input"/>
        </span>
        </div>
    </ng-template>

    <ng-template pTemplate="right" >
        <!--        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>-->
        <button pButton pRipple label="Export Excel (Selected)" icon="pi pi-file-pdf" class="p-button-help p-button-sm mr-2" style="max-width: 100px" (click)="selectedExportExcel()"></button>

        <button pButton pRipple label="Export Excel (All)" icon="pi pi-file-excel" class="p-button-help p-button-sm" style="max-width: 100px" (click)="exportExcelAll()"></button>
    </ng-template>
</p-toolbar>

<div style="max-height: 700px; overflow: auto;">
<p-table #dt [value]="datas" [rows]="10" [paginator]="true" [globalFilterFields]="['protocollo']"
         [(selection)]="selectedDatas" [rowHover]="true" dataKey="idprot" [rowsPerPageOptions]="[10, 25, 50]"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
         [tableStyle]="{ 'min-width': '75rem' }" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
        <tr style="background-color: blue;">
            <th style="text-align: center;background-color: lightgray">
            </th>
            <th style="text-align: center;background-color: lightgray">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="text-align: center;background-color: lightgray">
                <p style="display: inline-flex">
                    <a style="color: lightgray">.........</a>
                    Azione
                    <a style="color: lightgray">.........</a>
                </p>
            </th>
            <th pSortableColumn="senso" style="text-align: center;background-color: lightgray">
                Senso <p-sortIcon field="senso"></p-sortIcon>
            </th>
            <th pSortableColumn="data" style="text-align: center;background-color: lightgray">
                Data <p-sortIcon field="data"></p-sortIcon>
            </th>
            <th pSortableColumn="protocollo" style="text-align: center;background-color: lightgray">
                Protocollo <p-sortIcon field="protocollo"></p-sortIcon>
            </th>
            <th pSortableColumn="autore" style="text-align: center;background-color: lightgray">
                Autore <p-sortIcon field="autore"></p-sortIcon>
            </th>
            <th pSortableColumn="mittente" style="text-align: center;background-color: lightgray">
                Mittente <p-sortIcon field="mittente"></p-sortIcon>
            </th>
            <th pSortableColumn="destinatario" style="text-align: center;background-color: lightgray">
                Destinatario <p-sortIcon field="destinatario"></p-sortIcon>
            </th>
            <th pSortableColumn="oggetto" style="text-align: center;background-color: lightgray">
                Oggetto <p-sortIcon field="oggetto"></p-sortIcon>
            </th>
            <th pSortableColumn="subassegnazione" style="text-align: center;background-color: lightgray">
                Subassegnazione <p-sortIcon field="subassegnazione"></p-sortIcon>
            </th>
            <th pSortableColumn="note" style="text-align: center;background-color: lightgray">
                Note <p-sortIcon field="note"></p-sortIcon>
            </th>
            <th pSortableColumn="tematica" style="text-align: center;background-color: lightgray">
                Tematica <p-sortIcon field="tematica"></p-sortIcon>
            </th>
            <th pSortableColumn="categoria" style="text-align: center;background-color: lightgray">
                Categoria <p-sortIcon field="categoria"></p-sortIcon>
            </th>
            <th pSortableColumn="sottocategoria" style="text-align: center;background-color: lightgray">
                Sottocategoria <p-sortIcon field="sottocategoria"></p-sortIcon>
            </th>
            <th pSortableColumn="aie" style="text-align: center;background-color: lightgray">
                Aie <p-sortIcon field="aie"></p-sortIcon>
            </th>
            <th pSortableColumn="congiunta" style="text-align: center;background-color: lightgray">
                Congiunta <p-sortIcon field="congiunta"></p-sortIcon>
            </th>
            <th pSortableColumn="simulazione" style="text-align: center;background-color: lightgray">
                Simulazione <p-sortIcon field="simulazione"></p-sortIcon>
            </th>
            <th pSortableColumn="statoimpianto" style="text-align: center;background-color: lightgray">
                Stato Impianto <p-sortIcon field="statoimpianto"></p-sortIcon>
            </th>
            <th pSortableColumn="statoprocedura" style="text-align: center;background-color: lightgray">
                Stato Procedura <p-sortIcon field="statoprocedura"></p-sortIcon>
            </th>
            <th pSortableColumn="scadenza" style="text-align: center;background-color: lightgray">
                Scadenza <p-sortIcon field="scadenza"></p-sortIcon>
            </th>
            <th pSortableColumn="scadenza2" style="text-align: center;background-color: lightgray">
                Scadenza2 <p-sortIcon field="scadenza2"></p-sortIcon>
            </th>
            <th pSortableColumn="cdsdata" style="text-align: center;background-color: lightgray">
                Cdsdata <p-sortIcon field="cdsdata"></p-sortIcon>
            </th>
            <th pSortableColumn="cdsora" style="text-align: center;background-color: lightgray">
                Cdsora <p-sortIcon field="cdsora"></p-sortIcon>
            </th>
            <th pSortableColumn="notadigos" style="text-align: center;background-color: lightgray">
                Notadigos <p-sortIcon field="notadigos"></p-sortIcon>
            </th>
            <th pSortableColumn="dirigente" style="text-align: center;background-color: lightgray">
                Dirigente <p-sortIcon field="dirigente"></p-sortIcon>
            </th>
            <th pSortableColumn="funzionario" style="text-align: center;background-color: lightgray">
                Funzionario <p-sortIcon field="funzionario"></p-sortIcon>
            </th>
            <th pSortableColumn="commriscontro" style="text-align: center;background-color: lightgray">
                Commento Riscontro <p-sortIcon field="commriscontro"></p-sortIcon>
            </th>

        </tr>
        <tr>
            <th style="background-color: lightgray"></th>
            <th style="background-color: lightgray"></th>
            <th style="background-color: lightgray"></th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="senso"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="data"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="protocollo"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="autore"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="mittente"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="destinatario"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="oggetto"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="subassegnazione"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="note"></p-columnFilter>
            </th>

            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="tematica"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="categoria"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="sottocategoria"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="aie"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="congiunta"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="simulazione"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="statoimpianto"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="statoprocedura"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="scadenza"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="scadenza2"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="cdsdata"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="cdsora"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="notadigos"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="dirigente"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="funzionario"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="commriscontro"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No data found.</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td style="text-align: center;">
                <button type="button" pButton pRipple [pRowToggler]="data" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td style="text-align: center;"> <!-- Center align data -->
                <p-tableCheckbox [value]="data"></p-tableCheckbox>
            </td>
            <td style="text-align: center;">
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-primary mr-2" (click)="showData(data)"></button>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editData(data)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteData(data)"></button>
            </td>
            <td style="text-align: center;">
                {{data?.senso}}
            </td>
            <td style="text-align: center;">
                {{data?.data | date:'yyyy-MM-dd'}}
            </td>
            <td style="text-align: center;">
                {{data?.protocollo}}
            </td>
            <td style="text-align: center;">
                {{data?.autore}}
            </td>
            <td style="text-align: center;">
                {{data?.mittente}}
            </td>
            <td style="text-align: center;">
                {{data?.destinatario}}
            </td>
            <td style="text-align: center;">
                {{data?.oggetto}}
            </td>
            <td style="text-align: center;">
                {{data?.subassegnazione}}
            </td>
            <td style="text-align: center;">
                {{data?.note}}
            </td>
            <td style="text-align: center;">
                {{data?.tematica}}
            </td>
            <td style="text-align: center;">
                {{data?.categoria}}
            </td>
            <td style="text-align: center;">
                {{data?.sottocategoria}}
            </td>
            <td style="text-align: center;">
                {{data?.aie}}
            </td>
            <td style="text-align: center;">
                {{data?.congiunta}}
            </td>
            <td style="text-align: center;">
                {{data?.simulazione}}
            </td>
            <td style="text-align: center;">
                {{data?.statoimpianto}}
            </td>
            <td style="text-align: center;">
                {{data?.statoprocedura}}
            </td>
            <td style="text-align: center;">
                {{data?.scadenza | date:'yyyy-MM-dd'}}
            </td>
            <td style="text-align: center;">
                {{data?.scadenza2 | date:'yyyy-MM-dd'}}
            </td>
            <td style="text-align: center;">
                {{data?.cdsdata | date:'yyyy-MM-dd'}}
            </td>
            <td style="text-align: center;">
                {{data?.cdsora}}
            </td>
            <td style="text-align: center;">
                {{data?.notadigos}}
            </td>
            <td style="text-align: center;">
                {{data?.dirigente}}
            </td>
            <td style="text-align: center;">
                {{data?.funzionario}}
            </td>
            <td style="text-align: center;">
                {{data?.commriscontro}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-data>
        <tr>
            <td colspan="12">
                <div class="expanded-row">
                    <strong>Protocollo Collegato:&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ data?.protcollegato }}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                <div class="expanded-row">
                    <strong>Num. Prot. Coll.:&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ data?.numprotcoll }}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                <div class="expanded-row">
                    <strong>Azione:&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ data?.azione }}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                <div class="expanded-row">
                    <strong>Azione Duplicata:&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ data?.azionedup }}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                <div class="expanded-row">
                    <strong>Protocollo di Riferimento:&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ data?.protriferime }}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                <div class="expanded-row">
                    <strong>Numero Cod Sito:&nbsp;&nbsp;&nbsp;&nbsp;</strong>{{ data?.numcodsito }}
                </div>
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{datas ? datas.length : 0 }} datas.
        </div>
    </ng-template>

</p-table>
</div>

<!-- FORM POPUP KISMI-->
<p-dialog [(visible)]="newDialog || dataDialog" [style]="{width: '700px'}" header="Add & Update Data" [modal]="true" [maximizable]="true">
    <form [formGroup]="dataForm" (ngSubmit)="saveData()" novalidate class="form-dialog">
        <div class="field">
            <label for="senso" class="block">Senso</label>
            <p-dropdown *ngIf="!isDataReadonly"
                        formControlName="senso"  [options]="sensoOptions"
                        optionLabel="valore" optionValue="valore"
                        [showClear]="true" placeholder="Select">
            </p-dropdown>
        </div>
        <div class="field">
            <label for="data" class="block">Data</label>
            <p-calendar *ngIf="!isDataReadonly" formControlName="data" dateFormat="dd-mm-yy" [showIcon]="true" ></p-calendar>
        </div>
        <div class="field">
            <label for="protocollo" class="block">Protocollo</label>
            <input *ngIf="!isDataReadonly" type="text" pInputText formControlName="protocollo" />
        </div>
        <div class="field">
            <label for="autore" class="block">Autore</label>
            <input *ngIf="!isDataReadonly" type="text" pInputText formControlName="autore" />
        </div>
        <div class="field">
            <label for="mittente" class="block">Mittente</label>
            <input *ngIf="!isDataReadonly" type="text" pInputText formControlName="mittente" />
        </div>
        <div class="field">
            <label for="destinatario" class="block">Destinatario</label>
            <input *ngIf="!isDataReadonly" type="text" pInputText formControlName="destinatario" />
        </div>
        <div class="field">
            <label for="oggetto" class="block">Oggetto</label>
            <input *ngIf="!isDataReadonly" type="text" pInputText formControlName="oggetto" />
        </div>
        <div class="fieldSiNo">
            <label for="protcollegato">Protocollo Collegato</label>
            <div>
                <span id="si">SI</span>
                <p-radioButton formControlName="protcollegato" value="SI" inputId="SI"></p-radioButton>
            </div>
            <div>
                <span id="no">NO</span>
                <p-radioButton formControlName="protcollegato" value="NO" inputId="NO"></p-radioButton>
            </div>
        </div>

        <div class="field">
            <label for="numprotcoll" class="block">Num. Prot. Coll.</label>
            <p-dropdown *ngIf="!isDataReadonly"
                        formControlName="numprotcoll"  [options]="numprotcollOptions"
                        optionLabel="protocollo" optionValue="protocollo"
                        [showClear]="true" placeholder="Select"></p-dropdown>
        </div>
        <div class="fieldSiNo">
            <label for="riscontrogeos" class="block">Riscontro GEOS</label>
            <div>
                <span id="DTS">DTS</span>
                <p-radioButton formControlName="riscontrogeos" value="DTS" inputId="DTS"></p-radioButton>
            </div>
            <div>
                <span id="DG">DG</span>
                <p-radioButton formControlName="riscontrogeos" value="DG" inputId="DG"></p-radioButton>
            </div>
            <div>
                <span id="NESSUNA">NESSUNA</span>
                <p-radioButton formControlName="riscontrogeos" value="NESSUNA" inputId="NESSUNA"></p-radioButton>
            </div>
        </div>
        <div class="field">
            <label for="subassegnazione" class="block">Subassegnazione</label>
            <p-dropdown *ngIf="!isDataReadonly"
                        formControlName="subassegnazione"  [options]="subassegnazioneOptions"
                        optionLabel="nomeoperatore" optionValue="nomeoperatore"
                        [showClear]="true" placeholder="Select"></p-dropdown>
        </div>
        <div class="field">
            <label for="note" class="block">Note</label>
            <input *ngIf="!isDataReadonly" type="text" pInputText formControlName="note" />
        </div>
        <div class="field">
            <label for="tematica" class="block">Tematica</label>
            <p-dropdown *ngIf="!isDataReadonly"
                        formControlName="tematica"  [options]="tematicaOptions"
                        optionLabel="tipotematica" optionValue="tipotematica"
                        [showClear]="true" placeholder="Select"></p-dropdown>
        </div>
        <div class="field">
            <label for="categoria" class="block">Categoria</label>
            <p-dropdown *ngIf="!isDataReadonly"
                        formControlName="categoria"  [options]="categoriaOptions"
                        optionLabel="catcem" optionValue="catcem"
                        [showClear]="true" placeholder="Select"></p-dropdown>
        </div>
        <div class="field">
            <label for="sottocategoria" class="block">Sottocategoria</label>
            <p-dropdown *ngIf="!isDataReadonly"
                        formControlName="sottocategoria"  [options]="sottocategoriaOptions"
                        optionLabel="valoretemrum" optionValue="valoretemrum"
                        [showClear]="true" placeholder="Select"></p-dropdown>
        </div>
        <div class="field">
            <label for="azione" class="block">Azione</label>
            <p-dropdown *ngIf="!isDataReadonly"
                        formControlName="azione"  [options]="azioneOptions"
                        optionLabel="valoretemrum" optionValue="valoretemrum"
                        [showClear]="true" placeholder="Select"></p-dropdown>
        </div>
        <div class="fieldSiNo">
            <label for="azionedup">Azione Duplicata</label>
            <div>
                <span id="si">SI</span>
                <p-radioButton formControlName="azionedup" value="SI" inputId="SI"></p-radioButton>
            </div>
            <div>
                <span id="no">NO</span>
                <p-radioButton formControlName="azionedup" value="NO" inputId="NO"></p-radioButton>
            </div>
        </div>
        <div class="field">
            <label for="protriferime" class="block">Protocollo Di Riferimento</label>
            <p-dropdown *ngIf="!isDataReadonly"
                        formControlName="protriferime" [options]="protriferimeOptions"
                        optionLabel="valoretemrum" optionValue="valoretemrum"
                        [showClear]="true" placeholder="Select"></p-dropdown>
        </div>

        <div class="fieldSiNo">
            <label for="aie">AIE</label>
            <div>
                <span id="si">SI</span>
                <p-radioButton formControlName="aie" value="SI" inputId="SI"></p-radioButton>
            </div>
            <div>
                <span id="no">NO</span>
                <p-radioButton formControlName="aie" value="NO" inputId="NO"></p-radioButton>
            </div>
        </div>
        <div class="fieldSiNo">
            <label for="congiunta">Congiunta</label>
            <div>
                <span id="si">SI</span>
                <p-radioButton formControlName="congiunta" value="SI" inputId="SI"></p-radioButton>
            </div>
            <div>
                <span id="no">NO</span>
                <p-radioButton formControlName="congiunta" value="NO" inputId="NO"></p-radioButton>
            </div>
        </div>
        <div class="fieldSiNo">
            <label for="simulazione">Simulazione</label>
            <div>
                <span id="si">SI</span>
                <p-radioButton formControlName="simulazione" value="SI" inputId="SI"></p-radioButton>
            </div>
            <div>
                <span id="no">NO</span>
                <p-radioButton formControlName="simulazione" value="NO" inputId="NO"></p-radioButton>
            </div>
        </div>
        <div class="field">
            <label for="numcodsito" class="block">Numero Cod Sito</label>
            <p-dropdown *ngIf="!isDataReadonly"
                        formControlName="numcodsito"  [options]="numcodsitoOptions"
                        optionLabel="numcodsito" optionValue="numcodsito"
                        [showClear]="true" placeholder="Select"></p-dropdown>
        </div>
        <div class="field">
            <label for="statoimpianto" class="block">Statoimpianto</label>
            <p-dropdown *ngIf="!isDataReadonly"
                        formControlName="statoimpianto"  [options]="statoimpiantoOptions"
                        optionLabel="valore" optionValue="valore"
                        [showClear]="true" placeholder="Select"></p-dropdown>
        </div>
        <div class="field">
            <label for="statoprocedura" class="block">Stato Procedura</label>
            <p-dropdown *ngIf="!isDataReadonly"
                        formControlName="statoprocedura"  [options]="statoproceduraOptions"
                        optionLabel="valore" optionValue="valore"
                        [showClear]="true" placeholder="Select"></p-dropdown>
        </div>
        <div class="field">
            <label for="scadenza" class="block">Scadenza</label>
            <p-calendar *ngIf="!isDataReadonly" formControlName="scadenza" dateFormat="dd.mm.yy" [showIcon]="true"></p-calendar>
        </div>
        <div class="field">
            <label for="scadenza2" class="block">Scadenza2</label>
            <p-calendar *ngIf="!isDataReadonly" formControlName="scadenza2" dateFormat="dd.mm.yy" [showIcon]="true"></p-calendar>
        </div>
        <div class="field">
            <label for="cdsdata" class="block">Cdsdata</label>
            <p-calendar *ngIf="!isDataReadonly" formControlName="cdsdata" dateFormat="dd.mm.yy" [showIcon]="true"></p-calendar>
        </div>
        <div class="field">
            <label for="cdsora" class="block">Cdsora</label>
            <input *ngIf="!isDataReadonly" type="text" pInputText formControlName="cdsora" />
        </div>

        <div class="fieldSiNo">
            <label for="notadigos">Notadigos</label>
            <div>
                <span id="si">SI</span>
                <p-radioButton formControlName="notadigos" value="SI" inputId="SI"></p-radioButton>
            </div>
            <div>
                <span id="no">NO</span>
                <p-radioButton formControlName="notadigos" value="NO" inputId="NO"></p-radioButton>
            </div>
        </div>
        <div class="fieldSiNo">
            <label for="dirigente">Dirigente</label>
            <div>
                <span id="lavorato">LAVORATO</span>
                <p-radioButton formControlName="dirigente" value="LAVORATO" inputId="LAVORATO"></p-radioButton>
            </div>
            <div>
                <span id="nonLavorato">NON LAVORATO</span>
                <p-radioButton formControlName="dirigente" value="NON LAVORATO" inputId="NON LAVORATO"></p-radioButton>
            </div>
        </div>
        <div class="fieldSiNo">
            <label for="funzionario">Funzionario</label>
            <div>
                <span id="lavorato">LAVORATO</span>
                <p-radioButton formControlName="funzionario" value="LAVORATO" inputId="LAVORATO"></p-radioButton>
            </div>
            <div>
                <span id="nonLavorato">NON LAVORATO</span>
                <p-radioButton formControlName="funzionario" value="NON LAVORATO" inputId="NON LAVORATO"></p-radioButton>
            </div>
        </div>
        <div class="field">
            <label for="commriscontro" class="block">Commento Riscontro</label>
            <input *ngIf="!isDataReadonly" type="text" pInputText formControlName="commriscontro" />
        </div>
        <div class="actions">
            <button pButton type="button" label="Cancel" (click)="hideDataDialog()"></button>
            <button pButton type="submit" label="Submit" [disabled]="dataForm.invalid"></button>
        </div>

    </form>
</p-dialog>

<!-- SEÇİLİ SATIRIN DATASINI GÖRÜNTÜLEME POP UPI-->
<p-dialog  [(visible)]="dataShowDialog" header="Data Details" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body" [style]="{width: '400px'}" [contentStyle]="{height: '300px'}">
    <div style="overflow-y: auto;">
        <table class="vertical-table" width="350px">
            <tbody>
            <tr>
                <td class="senso">Senso</td>
                <td>{{selectedData?.senso}}</td>
            </tr>
            <tr>
                <td class="data">Data</td>
                <td>{{selectedData?.data | date:'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
                <td class="protocollo">Protocollo</td>
                <td>{{selectedData?.protocollo}}</td>
            </tr>
            <tr>
                <td class="autore">Autore</td>
                <td>{{selectedData?.autore}}</td>
            </tr>
            <tr>
                <td class="mittente">Mittente</td>
                <td>{{selectedData?.mittente}}</td>
            </tr>
            <tr>
                <td class="destinatario">Destinatario</td>
                <td>{{selectedData?.destinatario}}</td>
            </tr>
            <tr>
                <td class="oggetto">Oggetto</td>
                <td>{{selectedData?.oggetto}}</td>
            </tr>
            <tr>
                <td class="subassegnazione">Subassegnazione</td>
                <td>{{selectedData?.subassegnazione}}</td>
            </tr>
            <tr>
                <td class="note">Note</td>
                <td>{{selectedData?.note}}</td>
            </tr>
            <tr>
                <td class="tematica">Tematica</td>
                <td>{{selectedData?.tematica}}</td>
            </tr>
            <tr>
                <td class="categoria">Categoria</td>
                <td>{{selectedData?.categoria}}</td>
            </tr>
            <tr>
                <td class="sottocategoria">Sottocategoria</td>
                <td>{{selectedData?.sottocategoria}}</td>
            </tr>
            <tr>
                <td class="aie">AIE</td>
                <td>{{selectedData?.aie}}</td>
            </tr>
            <tr>
                <td class="congiunta">Congiunta</td>
                <td>{{selectedData?.congiunta}}</td>
            </tr>
            <tr>
                <td class="simulazione">Simulazione</td>
                <td>{{selectedData?.simulazione}}</td>
            </tr>
            <tr>
                <td class="statoimpianto">Stato Impianto</td>
                <td>{{selectedData?.statoimpianto}}</td>
            </tr>
            <tr>
                <td class="statoprocedura">Stato Procedura</td>
                <td>{{selectedData?.statoprocedura}}</td>
            </tr>
            <tr>
                <td class="scadenza">Scadenza</td>
                <td>{{selectedData?.scadenza | date:'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
                <td class="scadenza2">Scadenza2</td>
                <td>{{selectedData?.scadenza2 | date:'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
                <td class="cdsdata">Cdsdata</td>
                <td>{{selectedData?.cdsdata | date:'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
                <td class="cdsora">cdsora</td>
                <td>{{selectedData?.cdsora}}</td>
            </tr>
            <tr>
                <td class="notadigos">Notadigos</td>
                <td>{{selectedData?.notadigos}}</td>
            </tr>
            <tr>
                <td class="dirigente">Dirigente</td>
                <td>{{selectedData?.dirigente}}</td>
            </tr>
            <tr>
                <td class="funzionario">Funzionario</td>
                <td>{{selectedData?.funzionario}}</td>
            </tr>
            <tr>
                <td class="commriscontro">Commento Riscontro</td>
                <td>{{selectedData?.commriscontro}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <ng-template pTemplate="footer">
        <div class="actions">
            <button style="width: 120px; height: 30px; background-color: green;margin-top: 20px;"
                    pButton type="button" label="Export Excel" (click)="selectedExportExcelForOneData()"></button>
            <button style="width: 80px; height: 30px; background-color: red;margin-top: 20px;"
                    pButton type="button" label="Cancel" (click)="hideShowDialog()"></button>
        </div>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
