 <div>
    <div style="display: inline-flex;">
        <span class="pi pi-home" routerLink="/dashboard"></span>
    </div>
    <span class="font-medium ml-2">/ Gestori CEM </span>
</div>

<p-toolbar styleClass="mb-4" class="col-12">
    <ng-template pTemplate="left">
        <button pButton pRipple label="AGGIUNGI NUOVO" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewData()"></button>
        <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedDatas()" [disabled]="!selectedDatas || !selectedDatas.length"></button>
    </ng-template>

    <ng-template pTemplate="center">
        <div class="search-container">
        <span class="p-input-icon-left" style="width: 400px;">
            <i class="pi pi-search" style="margin-right: 5px;"></i>
            <input style="background-color: white;" pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                   placeholder="Ricerce Id Gestore"
                   class="search-input"/>
        </span>
        </div>
    </ng-template>

    <ng-template pTemplate="right" >
        <!--        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>-->
        <button pButton pRipple label="Export Excel (Selected)" icon="pi pi-file-pdf" class="p-button-help p-button-sm mr-2" style="max-width: 100px" (click)="selectedExportExcel()"></button>

        <button pButton pRipple label="Export Excel (All)" icon="pi pi-file-excel" class="p-button-help p-button-sm" style="max-width: 100px" (click)="exportExcelAll()"></button>
    </ng-template>
</p-toolbar>

<div style="max-height: 700px; overflow: auto;">
<p-table #dt [value]="datas" [rows]="10" [paginator]="true" [globalFilterFields]="['idgestore']"
         [(selection)]="selectedDatas" [rowHover]="true" dataKey="numcodsito" [rowsPerPageOptions]="[10, 25, 50]"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"
         [tableStyle]="{ 'min-width': '75rem' }" styleClass="p-datatable-gridlines" class="custom-table">
    <ng-template pTemplate="header">
        <tr style="background-color: blue;">
            <th style="text-align: center;background-color: lightgray">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th style="text-align: center;background-color: lightgray">
                <p style="display: inline-flex">
                    <a style="color: lightgray">.........</a>
                    Azione
                    <a style="color: lightgray">.........</a>
                </p>
            </th>
            <th pSortableColumn="idmisurazione" style="text-align: center;background-color: lightgray">
                ID Gestore <p-sortIcon field="idgestore"></p-sortIcon>
            </th>
            <th pSortableColumn="numcodsito" style="text-align: center;background-color: lightgray">
                Nome Gestore <p-sortIcon field="nomegestore"></p-sortIcon>
            </th>

        </tr>
        <tr>
            <th style="background-color: lightgray">
            <th style="background-color: lightgray"></th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="idgestore"></p-columnFilter>
            </th>
            <th style="background-color: lightgray">
                <p-columnFilter type="text" field="nomegestore"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5">No data found.</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td style="text-align: center;"> <!-- Center align data -->
                <p-tableCheckbox [value]="data"></p-tableCheckbox>
            </td>
            <td style="text-align: center;">
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-primary mr-2" (click)="showData(data)"></button>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editData(data)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteData(data)"></button>
            </td>
            <td style="text-align: center;">
                {{data?.idgestore}}
            </td>
            <td style="text-align: center;">
                {{data?.nomegestore}}
            </td>
        </tr>
    </ng-template>

    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            In total there are {{datas ? datas.length : 0 }} datas.
        </div>
    </ng-template>

</p-table>
</div>

<!-- FORM POPUP KISMI-->
<p-dialog [(visible)]="newDialog || dataDialog" [style]="{width: '700px'}" header="Add & Update Data" [modal]="true" [maximizable]="true">
    <form [formGroup]="dataForm" (ngSubmit)="saveData()" novalidate class="form-dialog">
        <div class="field">
            <label for="idgestore" class="block">ID Gestore</label>
            <input *ngIf="!isDataReadonly" type="text" pInputText formControlName="idgestore" />
        </div>
        <div class="field">
            <div style="display:inline-flex">
                <label for="nomegestore" class="block">Nome Gestore</label><strong style="color:red">*</strong>
            </div>
            <input *ngIf="!isDataReadonly" type="text" pInputText formControlName="nomegestore" />
        </div>
        <div class="actions">
            <button pButton type="button" label="Cancel" (click)="hideDataDialog()"></button>
            <button pButton type="submit" label="Submit" [disabled]="dataForm.invalid"></button>
        </div>

    </form>
</p-dialog>

<!-- SEÇİLİ SATIRIN DATASINI GÖRÜNTÜLEME POP UPI-->
<p-dialog  [(visible)]="dataShowDialog" header="Data Details" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body" [style]="{width: '400px'}" [contentStyle]="{height: '300px'}">
    <div style="overflow-y: auto;">
        <table class="vertical-table" width="350px">
            <tbody>
            <tr>
                <td class="idgestore">Id Gestore</td>
                <td>{{selectedData?.idgestore}}</td>
            </tr>
            <tr>
                <td class="nomegestore">Nome Gestore</td>
                <td>{{selectedData?.nomegestore}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <ng-template pTemplate="footer">
        <div class="actions">
            <button style="width: 120px; height: 30px; background-color: green;margin-top: 20px;"
                    pButton type="button" label="Export Excel" (click)="selectedExportExcelForOneData()"></button>
            <button style="width: 80px; height: 30px; background-color: red;margin-top: 20px;"
                    pButton type="button" label="Cancel" (click)="hideShowDialog()"></button>
        </div>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
